<!-- <h2>This will be the Navbar</h2>
<navbar>stuff</navbar> -->

<nav>
  <ul class="navbar">
    <a href="/dashboard"><li>Dashboard</li></a>
    <a href="/search"><li>Search</li></a>
    <a href="/profile"><li>Profile</li></a>

  </ul>
</nav>
