{{#each feed}}
<div class="picture-box">
  <img src="{{this.img}}" alt="{{this.description}}">
  <p class="likes">{{this.likes}} Likes</p>
  <p class="comments">{{this.comments}} Comments</p>
</div>
{{/each}}
