
{{#each searches}}
  <!--suppress HtmlUnknownTarget -->
  <div class="saved-search">
    <form class="delete-saved-search" action="/savedSearches/delete" method="post">
      <a href="/savedResults/{{this}}">#{{this}}</a>
      <button type="submit" name="delete" value="{{this}}">x</button>
    </form>
  </div>
{{/each}}
