<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href={{style}}>
      <title>{{title}}</title>
  </head>
  <body>
    {{>navbar}}
    {{{body}}}
  </body>
</html>
