/*Style for login/home page*/

h2, h3, h4, h5 {
  color: #fff;
}

nav{
  text-align: center;
}

label.popdown-label{
  color: #fff;
}

.login-signup{
  text-align: center;
  margin: auto;
  margin-top: 52px;
}

.btn{
  padding: 6px 30px 6px 30px;
  margin: 2px;
  background-color: #a1a1a1;
  color: #000;
  border-radius: 17px;
  text-decoration: none;
}

.btn:hover{
  background-color: #f2f2f2;
}
