<h1>{{title}}</h1>



    <div class="table">
      <div class="table-row">


<!-- For each post, a .json  -->
        {{>feed}}
        <!-- <div class="table-cell">
          <img src="http://ak.picdn.net/shutterstock/videos/945283/preview/stock-footage-burning-number-two-isolated-on-black-seamless-loop-hd-p.jpg" alt="Picture two">
          <p class="likes">1 Likes</p>
          <p class="comments">1 Comments</p> -->
      </div>
    </div>
