
<main>
<h1 class="title">{{title}}</h1>

  <p>
    Instacrammed is an application built for sharing and linking your instagram account to your favorite hobbies.
    For example do you love automobiles? Share your favorite car posts on Instagram and share your collection with your
    friends. Keep your searches, get updated with the latest content! It is the most wizard Instagram application!
  </p>

<div class="login-signup">
    <a href="/login" id="login-btn" class="btn">Log In</a>
</div>



<!--  -->
</main><!--mainContent  -->
