<main>
{{>search}}

<div class="table">
  <div class="row">

    {{>picture-box}}
    <!-- for each partial how to get so many to a group? -->
    <!-- <div class="picture-box">
      <img src="http://www.marchpr.com/wp-content/uploads/2013/06/Number-One.jpg" alt="First Picture">
      <p class="likes">1 Likes</p>
      <p class="comments">1 Comments</p>
    </div> -->

  </div>
</div>
</main>
