<main>
  <h1 class="title">Search</h1>
  <!-- add partial here? -->

  <div class="search">
    <div class="top-searches">
      <h3 class="title">Top Saved Searches</h3>
      <div class="top-search-boxes">

        <!-- partial for the saved searches -->
        {{>search}}
        

      </div>
      <div class="saved-searches-link">
        <a href="savedSearches.html">Saved Searches</a>
      </div>
    </div>
    <div class="input">
      <form class="search-text-box" action="searchResults.html">
        <input type="search" name="search-box" value="">
        <button type="submit" name="submit-button">Submit</button>
      </form>
    </div>

<!--  -->
</main><!--mainContent  -->
