<main>
  <h1 class="title">Search</h1>
  <!-- add partial here? -->

  <div class="search">
    <div class="input">
      <form class="search-text-box" action="/search" method="post">
        <input type="text" name="query" value="" placeholder="Enter tag here">
        <button type="submit" name="submit-button">Submit</button>
      </form>
    </div>
    <div class="saved-searches-link">
      <a href="/savedSearches">Saved Searches</a>
    </div>
  </div>

<div class="table">
    {{>feed}}
</div>
<!--  -->
</main><!--mainContent  -->
